.sidepanel {
  position: absolute;
  z-index: 2147483646;
  width: 25%;
  height: 100%;
  left: 100px;
  -moz-box-shadow: 0px 0px 3px #8a8a8a;
  -webkit-box-shadow: 0px 0px 3px #8a8a8a;
  box-shadow: 0px 0px 3px #8a8a8a;
  background: white;
}