<div class="head">
  <a class="back" href="">BACK</a>
  <a class="share">share</a>
</div>

<p class="title">{{title}}</p>

<p class="date">{{date}}</p>

<p class="address">{{address}}</p>

<ul class="photos clearfix">
  <!-- TODO: THIS IS DUMMY DATA -->
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
  <li class="photo">
    <a class="photoUrl" href=""><img class="thumbnail" src="images/logo.png" width="80" height="80" /></a>
  </li>
</ul>

<p class="description">{{description}}</p>






